<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.WorkerMapper">
    <select id="getWidByUserid" resultType="Long">
        SELECT wid FROM rec_worker WHERE userid = #{userid}
    </select>
</mapper>
